/* Colores */
:root {
  --delete-red: red;
  --gray-light: #f0f0f0;
}



.btn {
  display: flex;
  align-items: center;
  background: none;
  border: 1px solid var(--gray-light);
  height: 48px;
  padding: 0 24px 0 16px;
  letter-spacing: 0.25px;
  border-radius: 24px;
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

.btn .mdi {
  margin-right: 8px;
}

.btn-delete {
  font-size: 16px;
  color: var(--delete-red);
}

.btn-delete .mdi-delete-empty {
  display: none;
}

.btn-delete:hover {
  background-color: rgba(var(--delete-red), 0.48);
}

.btn-delete:hover .mdi-delete-empty {
  display: block;
}

.btn-delete:hover .mdi-delete {
  display: none;
}

.btn-delete:focus {
  box-shadow: 0 0 0 4px rgba(var(--delete-red), 0.4);
}
