/* Agregar estilos para dispositivos móviles */
@media screen and (max-width: 768px) {
    .logo{
        width: 7em;
    }

    /* Estilo para el contenedor principal */
    .dashboard-container {
        max-width: 95%; /* Reducir el ancho máximo en dispositivos móviles */
        margin: 0 auto; /* Centrar el contenedor en la pantalla */
        width:95%;
    }

    h1{
        font-size: 22px ;
    }
    /* Estilo para el título */
    h2 {
        font-size: 20px; /* Reducir el tamaño del título */
    }

    h4 {
        font-size: 15px; /* Reducir el tamaño del título */
    }


    /* Estilo para el botón de estadísticas *6
    form {
        margin: 10px 0; /* Agregar espacio entre el formulario y los elementos anteriores */

    select {
        width: 100%; /* Hacer que el select ocupe el ancho completo */
        font-size:11px !important;
        margin: 0.05;
    }

    button[type="submit"] {
        display: block; /* Hacer que el botón ocupe todo el ancho disponible */
        margin: 10px auto; /* Centrar el botón horizontalmente */
    }

    /* Estilo para la tabla de registros */
    .registros-table,
    .recurrent-records-table,
    .labels-table{
        font-size: 12px; /* Reducir el tamaño de fuente de la tabla */
    }

    /* Estilo para las celdas de la tabla en dispositivos móviles */
    .registros-table td,
    .registros-table th,
    .recurrent-records-table td,
    .recurrent-records-table th,
    .labels-table td,
    .labels-table th {
        padding: 6px; /* Reducir el espacio entre las celdas */
    }

    /* Estilo para el botón de eliminar */
    .fa-trash {
        font-size: 20px; /* Aumentar el tamaño del icono de eliminación */
        margin-right: 5px; /* Agregar espacio entre el icono y el checkbox */
    }

    /* Estilo para el botón "Crear Registro Financiero" */
    .btn-crear-pc {
        display: none; /* Aumentar el tamaño del botón */
    }

    .btn-delete-pc {
        display: none; /* Aumentar el tamaño del botón */
    }


    .float{
        position:fixed;
        display: inline-block;
        width:60px;
        height:60px;
        bottom:40px;
        border-radius:50px;
        text-align:center;

    }

    .btn-crear-phone{
        background-color:#007BFF;
        color:#FFF;
        box-shadow: 2px 2px 3px #999;
    }

    .btn-delete-phone{        
        background-color:red;
        color:white;
        box-shadow: 2px 2px 3px #a15d5d;

    }

    .my-float{
        margin-top:22px;
    }
    .my-trash{
        margin-top:20px;
        margin-left:6px;
    }

    /* Estilos para el select personalizado */
    .select2-container{
        min-height: 25px !important;
    }
    .select2-selection {
        font-size: 12px; /* Adjust font size */
        line-height: 1.5; /* Adjust line height */
    }
    .select2-results__options {
        font-size: 12px; /* Ajusta el tamaño de la fuente para el texto del desplegable */
    }

    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        padding-left: 15px;
        width: 100%;
        transition: height 0.5s ease; /* Transición suave para la altura */
        z-index: 1000;
    }

    .navbar.small {
        height: 50px; /* Altura reducida de la barra de navegación */
    }

    .navbar-items {
        display: flex;
    }

    .navbar-items a {
        color: #fff;
        text-decoration: none;
        padding: 15px;
    }

    .main{
        margin-top:100px
    }

    /* Estilos para el logotipo */
    .logo {
    max-width: 100%; /* Garantiza que el logotipo no se extienda más allá de su contenedor */
    height: auto; /* Permite que el logotipo mantenga sus proporciones originales */
}

   
}
