/* styles.css */

h1{
    font-family: 'Bungee', cursive;
    text-align: center;
    font-size:30px;

}

.logo{
    width: 5em;
    height: auto;
    margin:0"
}

.btn-income {
    background-color: #a5d6a7; /* Color de fondo verde para incomes */
    color: #006400; /* Color de texto verde oscuro para incomes */
    border: none; /* Elimina el borde */
    padding: 10px 20px; /* Ajusta el espacio interno */
    border-radius: 5px; /* Borde redondeado */
}

.btn-income:hover {
    background-color: #0056b3;
}

.btn-expense {
    background-color: #ffcdd2; /* Color de fondo rojo claro para expenses */
    color: #b71c1c; /* Color de texto rojo oscuro para expenses */
    border: none; /* Elimina el borde */
    padding: 10px 20px; /* Ajusta el espacio interno */
    border-radius: 5px; /* Borde redondeado */
}

.btn-expense:hover {
    background-color: #0056b3;
}

/* En tu archivo CSS personalizado */
.mt-custom {
    margin: 1em; /* Puedes ajustar el valor según tus preferencias */
}

.rounded-input{
    border-radius: var(--bs-border-radius-pill)!important;
}


.dashboard-content {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    height: 100vh; /* 100% del alto de la ventana del navegador */
}

.dashboard-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    /* max-width: 600px;  Establece un ancho máximo si lo deseas */
    margin-top: 1em;
}

.dashboard-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.btn-crear {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    text-align:center;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.btn-crear:hover {
    background-color: #0056b3;
}

/* Estilos de las lineas de registros */


.registros-table, .recurrent-records-table {
    width: 100%; /* Toma el 100% del ancho del contenedor de registros */
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
}


/* Estilo para líneas de incomes (verde) */
.income {
    background: #d0e6d1; /* Color de fondo verde */
    color: #006400; /* Color de texto verde oscuro */
}

/* Estilo para líneas de expenses (rojo) */
.expense {
    background: #f3d9db; /* Color de fondo rojo claro */
    color: #b71c1c; /* Color de texto rojo oscuro */
}


/* Ajustar el margen y el relleno de las celdas de la tabla */
.registros-table td,
.registros-table th,
.recurrent-records-table td,
.recurrent-records-table th {
    padding: 8px; /* Ajusta el relleno según tus preferencias */
    margin: 0; /* Elimina los márgenes predeterminados */
    border-bottom: 0.2em solid #ffffff;
    padding: 8px;
}

.center-button {
    text-align: center; /* Alineación horizontal */
    display: flex;
    justify-content: center; /* Alineación horizontal para Flexbox */
    align-items: center; /* Alineación vertical para Flexbox */
}

input{

    border-radius: var(--bs-border-radius-pill)!important;
    padding-left: 5px;
}

select {
    border-radius: var(--bs-border-radius-pill)!important;
    padding: 5px;
}

.django-select2 {

    width: 100%;
}

.btn-crear-phone{
display: none;
}

.btn-delete-phone{
    display: none;
    }
