{% extends "moneitas/base_crear_registro.html" %}

{% block title %}Crear Etiqueta{% endblock %}

{% block back_url %}{% url 'lista_etiquetas' %}{% endblock %}

{% block content %}


<h1 class="mb-4">Etiqueta</h1>
<form method="post" id="etiqueta-form">
    {% csrf_token %}
    <!-- Utiliza el componente btn-group para el botón tipo toggle -->
    <div class="mb-3">
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-primary btn-ingreso">
                <input type="radio" id="tipo-ingreso" name="tipo" value="ingreso" required {% if tipo == 'ingreso' %}checked{% endif %}> Ingreso
            </label>
            <label class="btn btn-primary btn-gasto">
                <input type="radio" id="tipo-gasto" name="tipo" value="gasto" {% if tipo == 'gasto' %}checked{% endif %}> Gasto
            </label>
        </div>
    </div>

    <!-- Resto de los campos -->
    <p>
        <label for="id_nombre">Nombre:</label>
        <input type="text" name="nombre" class="rounded-pill" required="" id="id_nombre" value="{{nombre}}">
    </p>

    <button type="submit" class="btn btn-primary">Guardar</button>
</form>

{% endblock %}