{% extends "moneitas/base_create_record.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% translate "Create Recurrent Record" %}{% endblock %}

{% block back_url %}{% url 'list_recurrent_records' %}{% endblock %}

{% block content %}


<h1 class="mb-4">{% translate "Recurrent Record" %}</h1>
<form method="post" id="cadence-form">
    {% csrf_token %}
    <div class="mb-3">
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-primary btn-income">
                <input type="radio" id="type-income" name="type" value="income" required {% if form.type.value == 'income' %}checked{% endif %}>
                {% translate "Income" %}
            </label>
            <label class="btn btn-primary btn-expense">
                <input type="radio" id="type-expense" name="type" value="expense" {% if form.type.value == 'expense' %}checked{% endif %}>
                {% translate "Expense" %}
            </label>
        </div>
    </div>

    <p>
        <label for="{{ form.method.id_for_label }}">{% translate "Method:" %}</label>
        {{ form.method }}
    </p>

    <p>
        <label for="{{ form.amount.id_for_label }}">{% translate "Amount:" %}</label>
        {{ form.amount }}
    </p>

    <p>
        <label for="{{ form.cadence_type.id_for_label }}">{% translate "Cadence:" %}</label>
        {{ form.cadence_type }}
    </p>

    <p>
        <label for="{{ form.cadence_position.id_for_label }}">{% translate "Cadence Day of Month/Week:" %}</label>
        {{ form.cadence_position }}
    </p>

    <p>
        <label for="{{ form.date_from.id_for_label }}">{% translate "Date From:" %}</label>
        {{ form.date_from}}
    </p>

    <p>
        <label for="{{ form.date_to.id_for_label }}">{% translate "Date To:" %}</label>
        {{ form.date_to}} {% translate  "*Leave empty for undefined" %}
    </p>
    <p>
        <label for="{{ form.label_existente.id_for_label }}">{% translate "Select a label:" %}</label>
        {{ form.label_existente }}
    </p>
    <p>
        <label for="{{ form.label_personalizada.id_for_label }}">{% translate "or create a new label (optional):" %}</label>
        {{ form.label_personalizada }}
    </p>

    <div class="mb-3">
        <label for="id_comment" class="form-label">{% translate "Comment" %}</label>
        <input type="text" class="rounded-pill" id="id_comment" name="comment"value="{{ form.comment.value }}">
    </div>

    {% if form.errors %}
    <div class="error-container">
        <ul class="error-list">
        {% for field, error_list in form.errors.items %}
            {% for error in error_list %}
            <li class="error-item">
                <!-- Display error message with warning icon -->
                <span class="error-icon">&#9888;</span> <!-- Unicode for warning icon -->
                {{ error }}
            </li>
            {% endfor %}
        {% endfor %}
        </ul>
    </div>
    {% endif %}

    <button type="submit" class="btn btn-primary">{% translate "Save" %}</button>
</form>



<script type="text/javascript" data-lang="{{ LANGUAGE_CODE }}" src="{% static 'moneitas/js/create_common.js' %}"></script>

{% endblock %}