{% extends "moneitas/base_crear_registro.html" %}

{% block title %}Crear Registro de Ingresos y Gastos{% endblock %}

{% block back_url %}{% url 'overview_dashboard' %}{% endblock %}

{% block content %}


<h1 class="mb-4">Registro de Ingresos y Gastos</h1>
<form method="post" id="registro-financiero-form">
    {% csrf_token %}
    <!-- Utiliza el componente btn-group para el botón tipo toggle -->
    <div class="mb-3">
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-primary btn-income">
                <input type="radio" id="tipo-income" name="tipo" value="income" required {% if form.tipo.value == 'income' %}checked{% endif %}> Ingreso
            </label>
            <label class="btn btn-primary btn-expense">
                <input type="radio" id="tipo-expense" name="tipo" value="expense" {% if form.tipo.value == 'expense' %}checked{% endif %}> Gasto
            </label>
        </div>
    </div>

    <!-- Resto de los campos -->
    <p>
        <label for="{{ form.metodo.id_for_label }}">Método:</label>
        {{ form.metodo }}
    </p>

    <p>
        <label for="{{ form.monto.id_for_label }}">Monto:</label>
        {{ form.monto }}
    </p>
    <p>
        <label for="{{ form.fecha.id_for_label }}">Fecha:</label>
        {{ form.fecha }}
    </p>
    <p>
        <label for="{{ form.label_existente.id_for_label }}">Selecciona una label:</label>
        {{ form.label_existente }}
    </p>
    <p>
        <label for="{{ form.label_personalizada.id_for_label }}">o crea una nueva label (opcional):</label>
        {{ form.label_personalizada }}
    </p>

    <!-- Campo "Notas" al final -->
    <div class="mb-3">
        <label for="id_nota" class="form-label">Notas:</label>
        <input type="text" class="rounded-pill" id="id_nota" name="nota"value="{{ form.nota.value }}">
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>


<script>
$(document).ready(function() {
    // Función para cargar las labels disponibles según el tipo seleccionado
    function cargarEtiquetasDisponibles(tipoSeleccionado, labelPlaceholder) {
        $.ajax({
            url: '/moneitas/get_labels/',  // Cambia la URL a la que corresponda en tu proyecto
            data: {'tipo': tipoSeleccionado},
            dataType: 'json',
            success: function(data) {
                // Actualiza las opciones del campo de labels
                var labelsSelect = $('#id_label_existente');
                labelsSelect.empty();
                labelsSelect.append(labelPlaceholder);
                $.each(data.labels, function(index, label) {
                    labelsSelect.append($('<option></option>').attr('value', label.id).text(label.nombre));
                });
            }
        });
    }

    var labelPlaceholder = $('#id_label_existente')[0][0];

     // Detecta clic en botón de Ingreso
    $('.btn-income').click(function() {
        cargarEtiquetasDisponibles('income', labelPlaceholder);
    });

    // Detecta clic en botón de Gasto
    $('.btn-expense').click(function() {
        cargarEtiquetasDisponibles('expense', labelPlaceholder);
    });

});
</script>

{% endblock %}



