{% extends "moneitas/base_template.html" %}
{% load humanize %}
{% load i18n %}
{% load static %}


{% block title %}
{% translate "Financial Dashboard" %}
{% endblock %}

{% block content %}

<div style="text-align: center" class="main">
    <h1>{% translate "Financial Dashboard" %}</h1>
    <p class="btn-crear-pc">
        </br>
        <a href="{% url 'create_record' %}" class="btn-crear mb-3">
            {% translate "Create Financial Record" %}</a>
        </br>
    </p>

    <form method="get" id="filtro-form" class="d-flex justify-content-center mt-3">
        <div class="form-group text-center mx-1">
            <label for="month">
                {% translate "Month:" %}
            </label>
            <select id="month" name="month" class="input-xs">
                {% for month in month_choices %}
                    <option value="{{ month.0 }}" {% if month.0 == selected_month %}selected{% endif %}>
                        {{ month.1 }}
                    </option>
                {% endfor %}
            </select>
        </div>


        <div class="form-group text-center mx-1">
            <label for="{{ filter_form.type.id_for_label }}">
                {% translate "Type:" %}
            </label>
            {{ filter_form.type }}
        </div>

        <div class="form-group text-center mx-1">
            <label for="{{ filter_form.method.id_for_label }}">
                {% translate "Method:" %}
            </label>
            {{ filter_form.method }}
        </div>

        <div class="d-flex">
            <div class="form-group mx-2">
                <label for="{{ filter_form.labels.id_for_label }}">
                    {% translate "Labels:" %}
                </label>
                {{ filter_form.labels }}
            </div>
        </div>
    </form>

    {{ filter_form.media.js }}


    <div class="dashboard-row">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    
                        <h4>{% translate "Incomes" %}</h4>
                        <span id="paidIncomes">{{ paid_incomes }}</span> / {{ incomes }}
                    
                </div>
                <div class="flip-card-back">
                        <h4>{% translate "Incomes" %}</h4>
                        Paid / Total
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                        <h4>{% translate "Expenses" %}</h4>
                        {{ expenses }}
                </div>
                <div class="flip-card-back">
                        <h4>{% translate "Expenses" %}</h4>
                        dul
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                        <h4>{% translate "Result" %}</h4>
                        {{ balance }}
                </div>
                <div class="flip-card-back">
                        <h4>{% translate "Result" %}</h4>
                        bo
                </div>
            </div>
        </div>
    </div>

    <form method="post" id="financial-records">
        {% csrf_token %}
        <table class="registros-table">
            <tbody>
                {% for registro in financial_records %}
                    <tr class="{% if registro.type == 'income' %}income{% else %}expense{% endif %}">
                        <td class="clickable">
                            {% if registro.type == 'expense' %}-{% endif %}
                            {{ registro.amount }}
                        </td>
                        <td class="clickable">{{ registro.date|date:"D, M j, Y" }}</td>
                        <td class="clickable">{{ registro.label.name }}</td>
                        <td class="clickable">{{ registro.comment }}</td>
                        <td style="width: 2%;">
                            
                            <div class="d-flex align-items-center">
                                {% comment %} Payment Method {% endcomment %}
                                <i class="payment-method"> 
                                <i title="Payment method" 
                                    {% if registro.method == 'credit_card' %}
                                    class="fa-regular fa-credit-card" 
                                    onclick="EditRegister('method', 'cash', 'financial_record', {{registro.id}})"
                                    {% else %}
                                    class="fa-solid fa-money-bill-1"
                                    onclick="EditRegister('method', 'credit_card', 'financial_record', {{registro.id}})"
                                    {% endif%}>
                                </i>
                            </i>
                                                                
                                {% comment %} Income paid? {% endcomment %}
                                <input type="checkbox" class="form-check-input ms-4"
                                title="Paid?" 
                                {% if registro.type == 'expense'%} style="visibility:hidden;" {% endif%}
                                {% if registro.income_paid %}checked{% endif %} 
                                onclick="EditRegister('income_paid', this.checked, 'financial_record', {{registro.id}});">

                                {% comment %} Edit record {% endcomment %}
                                <a class="fas fa-pencil ms-3" href="{% url 'create_record' edit=registro.id %}"></a>
                                
                                {% comment %} Invisible input to manage record deletion {% endcomment %}
                                <input type="checkbox" name="delete_{{ registro.id }}" style="display:none" id="_delete" class="delete-checkbox">

                            </div>
                        </td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </br>
        {% include 'moneitas/delete_pc_button.html' %}
        
    </form>
</div>
</div>

<a href="{% url 'create_record' %}" class="float btn-crear-phone">
    <i class="fa fa-plus my-float"></i>
  </a>
  
{% include 'moneitas/delete_button_phone.html' %}

<script type="text/javascript" data-lang="{{ LANGUAGE_CODE }}" src="{% static 'moneitas/js/dashboard.js' %}"></script>
<script type="text/javascript" data-lang="{{ LANGUAGE_CODE }}" data-formName="financial-records" src="{% static 'moneitas/js/list_common.js' %}"></script>

{% endblock %}

