{% extends "moneitas/base_template.html" %}
{% load humanize %}
{% load i18n %}
{% load static %}


{% block title %}
{% translate "Financial Dashboard" %}
{% endblock %}

{% block content %}

<div style="text-align: center;">
    <h1>{% translate "Financial Dashboard" %}</h1>
    </br>
     <a href="{% url 'create_record' %}" class="btn-crear mb-3">
        {% translate "Create Financial Record" %}</a>
    </br>

    <form method="get" id="filtro-form" class="d-flex justify-content-center mt-3">
        <div class="form-group text-center mx-3">
            <label for="month">
                {% translate "Month:" %}
            </label>
            <select id="month" name="month">
                {% for month in month_choices %}
                    <option value="{{ month.0 }}" {% if month.0 == selected_month %}selected{% endif %}>
                        {{ month.1 }}
                    </option>
                {% endfor %}
            </select>
        </div>


        <div class="form-group text-center mx-3">
            <label for="{{ filter_form.type.id_for_label }}">
                {% translate "Type:" %}
            </label>
            {{ filter_form.type }}
        </div>

        <div class="form-group text-center mx-3">
            <label for="{{ filter_form.method.id_for_label }}">
                {% translate "Method:" %}
            </label>
            {{ filter_form.method }}
        </div>

        <div class="d-flex">
            <div class="form-group mx-3">
                <label for="{{ filter_form.labels.id_for_label }}">
                    {% translate "Labels:" %}
                </label>
                {{ filter_form.labels }}
            </div>
        </div>
    </form>

    {{ filter_form.media.js }}

    </div>


    <div class="dashboard-row">
        <div class="dashboard-item">
            <h4>{% translate "Incomes" %}</h4>
            <p>{{ incomes }}</p>
        </div>
        <div class="dashboard-item">
            <h4>{% translate "Expenses" %}</h4>
            <p>{{ expenses }}</p>
        </div>
        <div class="dashboard-item">
            <h4>{% translate "Result" %}</h4>
            <p>{{ balance }}</p>
        </div>
    </div>

    <form method="post" id="financial-records">
        {% csrf_token %}
        <table class="registros-table">
            <thead>
                <tr>
                    <th>{% translate "Amount" %}</th>
                    <th>{% translate "Date" %}</th>
                    <th>{% translate "Label" %}</th>
                    <th>{% translate "Comment" %}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for registro in financial_records %}
                    <tr class="{% if registro.type == 'income' %}income{% else %}expense{% endif %}">
                        <td class="clickable">
                            {% if registro.type == 'expense' %}-{% endif %}
                            {{ registro.amount }}
                        </td>
                        <td class="clickable">{{ registro.date|date:"D, M j, Y" }}</td>
                        <td class="clickable">{{ registro.label.name }}</td>
                        <td class="clickable">{{ registro.comment }}</td>
                        <td>
                            {% if registro.method == 'credit_card' %}
                            <i class="fa-regular fa-credit-card"></i>
                            {% else %}
                            <i class="fa-solid fa-money-bill-1"></i>
                            {% endif %}
                        </td>
                        <td style="width: 1%;">
                            <div class="d-flex align-items-center">
                                <input type="checkbox" name="delete_{{ registro.id }}" style="display:none" id="_delete">
                                <input type="checkbox" {% if registro.income_paid %}checked{% endif %} onclick="RegisterPaid(this.checked,{{registro.id}})">
                                <a class="fas fa-pencil ms-3" href="{% url 'create_record' edit=registro.id %}"></a>
                            </div>
                        </td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </br>
        <div class="center-button" >
            <button type="submit" class="btn btn-delete">
              <span class="mdi mdi-delete mdi-24px"></span>
              <span class="mdi mdi-delete-empty mdi-24px"></span>
              <span>{% translate "Delete Selected" %}</span>
            </button>
        </div>
    </form>
</div>

<script type="text/javascript" data-lang="{{ LANGUAGE_CODE }}" src="{% static 'moneitas/js/dashboard.js' %}"></script>


{% endblock %}

