 <!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Dashboard de Finanzas</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles_phone.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style_delete.css' %}">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet">


    <link rel="icon" href="{% static 'only-logo.png' %}" type="image/png">


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>


    <meta name="viewport" content="width=device-width, initial-scale=1">


</head>
<body>
    {% load static %}
    <div class="dashboard-content">
        <div class="dashboard-container">
            {% load static %}
            {% include 'moneitas/navbar.html' %}

            <div style="text-align: center;">
                <h1>Etiquetas</h1>

                </br>
                 <a href="{% url 'crear_etiqueta' %}" class="btn-crear mb-3">Crear Etiqueta</a>
                </br>

                <form method="post">
                {% csrf_token %}
                <table class="etiquetas-table">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Tipo</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for etiqueta in etiquetas %}
                            <tr class="{% if etiqueta.tipo == 'ingreso' %}ingreso{% else %}gasto{% endif %}">
                                <td>{{ etiqueta.nombre }}</td>
                                <td>{{ etiqueta.tipo }}</td>
                                <td style="width: 1%;">
                                    <div class="d-flex align-items-center">
                                        <input type="checkbox" name="eliminar_{{ etiqueta.id }}">
                                        <a class="fas fa-pencil ms-3" href="{% url 'crear_etiqueta' editar=etiqueta.id %}"></a>
                                    </div>
                                </td>

                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </br>
                <div class="center-button" >
                    <button class="todo" type="submit" class="btn btn-delete">
                      <span class="mdi mdi-delete mdi-24px"></span>
                      <span class="mdi mdi-delete-empty mdi-24px"></span>
                      <span>Eliminar seleccionados</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</body>