{% extends "moneitas/base_template.html" %}


{% block title %}
    Etiquetas
{% endblock %}

{% block content %}
<div style="text-align: center;">
    <h1>Etiquetas</h1>

    </br>
     <a href="{% url 'crear_etiqueta' %}" class="btn-crear mb-3">Crear Etiqueta</a>
    </br>

    <form method="post">
        {% csrf_token %}
        <table class="etiquetas-table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Tipo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for etiqueta in etiquetas %}
                    <tr class="{% if etiqueta.tipo == 'ingreso' %}ingreso{% else %}gasto{% endif %}">
                        <td>{{ etiqueta.nombre }}</td>
                        <td>{{ etiqueta.tipo }}</td>
                        <td style="width: 1%;">
                            <div class="d-flex align-items-center">
                                <input type="checkbox" name="eliminar_{{ etiqueta.id }}">
                                <a class="fas fa-pencil ms-3" href="{% url 'crear_etiqueta' editar=etiqueta.id %}"></a>
                            </div>
                        </td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </br>
       <div class="center-button" >
            <button type="submit" class="btn btn-delete">
              <span class="mdi mdi-delete mdi-24px"></span>
              <span class="mdi mdi-delete-empty mdi-24px"></span>
              <span>Eliminar seleccionados</span>
            </button>
        </div>
    </form>
</div>
{% endblock %}

