{% extends "moneitas/base_template.html" %}
{% load i18n %}

{% block title %}
{% translate "Labels" %}
{% endblock %}

{% block content %}
<div style="text-align: center;">
    <h1>{% translate "Labels" %}</h1>

    <form method="get" id="filtro-form" class="d-flex justify-content-center mt-3">
        <div class="form-group text-center mx-3">
                <label for="{{ filtro_form.type.id_for_label }}">{% translate "Type" %}:</label>
                {{ filtro_form.type }}
        </div>
    </form>
    <script>
        const filtroForm = document.getElementById('filtro-form');
        const filtroTipos = document.querySelector('select[name="type"]');

        filtroTipos.addEventListener('change', function () {
            filtroForm.submit(); // Envía automáticamente el formulario cuando cambia la selección
        });

    </script>

    </br>
     <a href="{% url 'create_label' %}" class="btn-crear mb-3">{% translate "Create Label" %}</a>
    </br>

    <form method="post">
        {% csrf_token %}
        <table class="labels-table">
            <thead>
                <tr>
                    <th>{% translate "Name" %}</th>
                    <th>{% translate "Type" %}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for label in labels %}
                    <tr class="{% if label.type == 'income' %}income{% else %}expense{% endif %}">
                        <td>{{ label.name }}</td>
                        <td>
                            {{ label.get_type_display }}
                        </td>
                        <td style="width: 1%;">
                            <div class="d-flex align-items-center">
                                <input type="checkbox" name="eliminar_{{ label.id }}">
                                <a class="fas fa-pencil ms-3" href="{% url 'create_label' edit=label.id %}"></a>
                            </div>
                        </td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </br>
       <div class="center-button" >
            <button type="submit" class="btn btn-delete">
              <span class="mdi mdi-delete mdi-24px"></span>
              <span class="mdi mdi-delete-empty mdi-24px"></span>
              <span>{% translate "Delete Selected" %}</span>
            </button>
        </div>
    </form>
</div>
{% endblock %}

