<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles_login.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>
    <!-- toggle password !-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

    <link rel="icon" href="{% static 'only-logo.png' %}" type="image/png">

</head>
<body>

    <div class="wrapper bg-white">
        <div class="h2 text-center"><img  src="{% static 'moneitas-logo.png' %}"></div>
        <div class="h4 text-muted text-center pt-2">Enter your login details</div>
        <form class="pt-3" method="post">
            {% csrf_token %}
            <div class="form-group py-2">
                <div class="input-field"> <span class="far fa-user p-2"></span> <input type="text" id="username" name="username" placeholder="Username or Email Address" required class=""> </div>
            </div>
            <div class="form-group py-1 pb-2">
                <div class="input-field"> <span class="fas fa-lock p-2"></span>
                    <input type="password" id="password" name="password" placeholder="Enter your Password" required class="">
                    <i class="btn bg-white text-muted far fa-eye-slash" id="togglePassword" style="margin-left: -30px; cursor: pointer;"></i>
                </div>
                <script>
                      const togglePassword = document.querySelector('#togglePassword');
                      const password = document.querySelector('#password');

                      togglePassword.addEventListener('click', function (e) {
                        // toggle the type attribute
                        const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
                        password.setAttribute('type', type);
                        // toggle the eye slash icon
                        this.classList.toggle('fa-eye');
                    });
                </script>
            </div>
            <div class="d-flex align-items-start">
                <div class="ml-auto"> <a href="#" id="forgot">Forgot Password?</a> </div>
            </div> <button type="submit" class="btn btn-block text-center my-3">Log in</button>
            <div class="text-center pt-3 text-muted">Not a member? <a href="{% url 'register' %}">Sign up</a></div>
        </form>
    </div>
</body>
</html>

