{% extends "moneitas/base_template.html" %}
{% load i18n %}
{% load static %}

{% block title %}
{% translate "Recurrent Records" %}
{% endblock %}

{% block content %}
<div style="text-align: center" class="main">
    <h1>{% translate "Recurrent Records" %}</h1>
    <p class="btn-crear-pc">
        </br>
        <a href="{% url 'create_recurrent_record' %}" class="btn-crear mb-3">
            {% translate "Create Recurrent Record" %}</a>
        </br>
    </p>

    <div class="dashboard-row">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    
                        <h4>{% translate "Incomes" %}</h4>
                    {{ incomes }}
                    
                </div>
                <div class="flip-card-back">
                        <h4>{% translate "Incomes" %}</h4>
                        Total
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                        <h4>{% translate "Expenses" %}</h4>
                        {{ expenses }}
                </div>
                <div class="flip-card-back">
                        <h4>{% translate "Expenses" %}</h4>
                        dul
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                        <h4>{% translate "Result" %}</h4>
                        {{ balance }}
                </div>
                <div class="flip-card-back">
                        <h4>{% translate "Result" %}</h4>
                        bo
                </div>
            </div>
        </div>
    </div>

    <form method="get" id="filtro-form" class="d-flex justify-content-center mt-3">
        <div class="form-group text-center mx-3">
                <label for="{{ filter_form.type.id_for_label }}">{% translate "Type" %}:</label>
                {{ filter_form.type }}
        </div>
        <div class="form-group text-center mx-3">
            <label for="{{ filter_form.cadence_type.id_for_label }}">{% translate "Cadence" %}:</label>
            {{ filter_form.cadence_type }}
    </div>
    </form>
    <script>
        const filtroForm = document.getElementById('filtro-form');
        const filtroTipos = document.querySelector('select[name="type"]');

        filtroTipos.addEventListener('change', function () {
            filtroForm.submit(); // Envía automáticamente el formulario cuando cambia la selección
        });

    </script>

    <form method="post" id="recurrent-records">
        {% csrf_token %}
        <table class="recurrent-records-table">
            <thead>
                <tr>
                    <th>{% translate "Amount" %}</th>
                    <th>{% translate "Cadence (day)" %}</th>
                    <th>{% translate "Date From" %}</th>
                    <th>{% translate "Date To" %}</th>
                    <th>{% translate "Label" %}</th>
                    <th>{% translate "Comment" %}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for record in recurrent_records %}
                    <tr class="{% if record.type == 'income' %}income{% else %}expense{% endif %}">
                        <td class="clickable">
                            {% if record.type == 'expense' %}-{% endif %}
                            {{ record.amount }}
                        </td>
                        <td class="clickable">{{ record.get_cadence_type_display }} ({{ record.cadence_position }})</td>
                        <td class="clickable">{{ record.date_from|date:"D, M j, Y" }}</td>
                        <td class="clickable">{{ record.date_to|date:"D, M j, Y" }}</td>
                        <td class="clickable">{{ record.label.name }}</td>
                        <td class="clickable">{{ record.comment }}</td>
                        <td style="width: 2%;">
                            
                            <div class="d-flex align-items-center">
                                {% comment %} Payment Method {% endcomment %}
                                <i class="payment-method"> 
                                    <i title="Payment method" 
                                        {% if record.method == 'credit_card' %}
                                        class="fa-regular fa-credit-card" 
                                        onclick="EditRegister('method', 'cash', 'recurrent_record', {{record.id}})"
                                        {% else %}
                                        class="fa-solid fa-money-bill-1"
                                        onclick="EditRegister('method', 'credit_card', 'recurrent_record', {{record.id}})"
                                        {% endif%}>
                                    </i>
                                </i>
                                                                    
                                {% comment %} Edit record {% endcomment %}
                                <a class="fas fa-pencil ms-3" href="{% url 'create_recurrent_record' edit=record.id %}"></a>
                                
                                {% comment %} Invisible input to manage record deletion {% endcomment %}
                                <input type="checkbox" name="delete_{{ record.id }}" style="display:none" id="_delete" class="delete-checkbox">

                            </div>
                        </td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </br>

        {% include 'moneitas/delete_pc_button.html' %}

    </form>
</div>
</div>

<a href="{% url 'create_recurrent_record' %}" class="float btn-crear-phone">
    <i class="fa fa-plus my-float"></i>
  </a>
  
{% include 'moneitas/delete_button_phone.html' %}

<script type="text/javascript" data-lang="{{ LANGUAGE_CODE }}" data-formName="recurrent-records" src="{% static 'moneitas/js/list_common.js' %}"></script>

{% endblock %}
